##run pip install -r requirements.txt once this text is complete.
##Flask - for your backend web framework
##argon2-cffi — for secure Argon2id password hashing

Flask
Flask-SQLAlchemy
Flask-Migrate
python-dotenv          # When needing to load .env locally
argon2-cffi
PyJWT                  # Make sure to use randomly gen keys
psycopg2-binary        # May work as psycopg2[binary]
